.event-container {
    font-family: Arial, sans-serif;
}

.event-link {
    cursor: pointer;
}

.header {
    background-color: #530268;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
.header li {
    margin: 0 10px;
}
  
.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.header h1 {
    margin: 0;
}

.nav {
    display: flex;
}

.nav a {
    color: #fff;
    margin-right: 20px;
}

.section {
    padding: 60px 0;
}

.section h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2rem;
}

.events,
#reloadButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input,
form button {
    margin-bottom: 10px;
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


.copy-container {
    position: relative;
}

.copy-button:hover {
    cursor: pointer;
}

.copy-tooltip {
    top: -30px;
    width: 150%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 4px;
    border-color: mediumorchid;
    border-style: solid;
    font-size: 1rem;
    opacity: 0;
    visibility: none;
    white-space: nowrap;
}

.copy-button:hover + .copy-tooltip {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}

.about-page {
    font-size: 1.1rem;
    line-height: 1.5;
}
  
.about-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.introduction-title,
.problem-title,
.solution-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
  
.introduction-text,
.problems,
.solutions {
    margin-bottom: 3rem;
}

.about-text {
    padding: 0 5vw;
}

.problem {
    margin-bottom: 0;
}

.price-details {
    margin: 0 10%;
    display: flex;
    align-items: center;
}

.seat-price-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.tip-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gas-limit-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectedSeat, #ticketPrice, .tip-payment, .payment-button, .gas-limit {
    margin: 0 1%;
}

.tip-details {
    width: 20%;
}

input.tip-payment {
    margin-left: 0;
    height: 1.5rem;
    font-size: 1.2rem;
}

input.gas-limit {
    margin-left: 0;
    height: 1.5rem;
    font-size: 1.2rem;
    width: 25%;
}

.payment-details, 
.payment-in-progress, 
.payment-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-message {
    padding-left: 15%;
}

#err {
    color: red;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.homepage-container, .transfer-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.tickets-loading {
    font-size: 2.5rem;
}

.ticket {
    width: 100%;
    border: 10px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
  }
  
.ticket-left {
    flex: 1;
    padding-right: 1%;
}

.ticket-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.ticket-info {
    font-size: 1.5rem;
    margin-bottom: 5px;

    @media (max-width: 1400px) {
        font-size: 1.3rem;
        margin-bottom: 4px;
    }

    @media (max-width: 1200px) {
        font-size: 1.2rem;
        margin-bottom: 3px;
    }
}

.ticket-image {
    padding-left: 2%;
    padding-right: 3%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-width: 40%;

    @media (max-width: 1080px) {
        display: none;
    }
}

.ticket-qr-code {
    position: relative;
    width: 128px;
    display: flex;
    flex-direction: column;
}

.ticket-qr-code-download-button {
    position: absolute;
    margin: 10px;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.ticket-navigation-button {
    padding: 0 1%;
    font-size: 2rem;
}

.transfer-page-header {
    font-size: 2.5rem;
    text-align: center;
}

.ticket-transfer, .ticket-return-to-home {
    position: absolute;
    margin: 10px;
    top: 65%;
    left: 40%;
    width: 120%;
    transform: translate(-50%, -50%);
}

.ticket-transfer {
    width: 120%;
}

.ticket-return-to-home {
    width: 105%;
}

.transfer-section {
    display: flex;
    flex-direction: row;
}

.transfer-address-input {
    width: 95%;
    height: 1.5rem;
    font-size: 1.2rem;
}

.transfer-button {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
}

.transfer-in-progress, 
.transfer-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transfer-error-message {
    display: flex;
    align-items: center;
}

a.view-on-etherscan:link, 
a.view-on-etherscan:visited, 
a.view-on-etherscan:hover, 
a.view-on-etherscan:focus {
    text-decoration: underline;
    color: #111111;
}
